= provide(:title, "#{@user.name} さん")
.row
  %aside.col-md-4    
    %section.user_info= render 'shared/user_info'
    %section.stats= render 'shared/stats'      
  .col-md-8
    = render 'follow_form' if @user!=current_user
    %h2 Microposts (#{@microposts.count})    
    - if @user.microposts.any?
      %ol.microposts
        = render @microposts
      = will_paginate @microposts
