.userinfo
  = link_to gravatar_for(@user, size: 50), @user
  %h3= @user.name
  %h3= @user.profile
  %h3= @user.blog_url
  %span= link_to "view my profile", @user
  %span= pluralize(@user.microposts.count, "micropost")
