-# = link_to gravatar_for(current_user, size: 50), current_user
= gravatar_for @user
%h1= @user.name
%h1= @user.profile
%h1= @user.blog_url
%span= link_to "view my profile", @user
%span= pluralize(@user.microposts.count, "micropost")
