= form_with(model: minipost, local: true) do |form|
  - if minipost.errors.any?
    #error_explanation
      %h2
        = pluralize(minipost.errors.count, "error")
        prohibited this minipost from being saved:
      %ul
        - minipost.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :content
    = form.text_area :content
  .field
    = form.label :datetime
    = form.datetime_select :datetime
  .field
    = form.label :user_id
    = form.number_field :user_id
  .actions
    = form.submit
