%p#notice= notice
%h1 Miniposts
%table
  %thead
    %tr
      %th Content
      %th Datetime
      %th User
      %th{:colspan => "3"}
  %tbody
    - @miniposts.each do |minipost|
      %tr
        %td= minipost.content
        %td= minipost.datetime
        %td= minipost.user_id
        %td= link_to 'Show', minipost
        %td= link_to 'Edit', edit_minipost_path(minipost)
        %td= link_to 'Destroy', minipost, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Minipost', new_minipost_path
