%p#notice= notice
%p
  %strong Content:
  = @minipost.content
%p
  %strong Datetime:
  = @minipost.datetime
%p
  %strong User:
  = @minipost.user_id
= link_to 'Edit', edit_minipost_path(@minipost)
|
= link_to 'Back', miniposts_path
